.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 40px; }

#logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  margin-top: 1%;
  color: #41424c; }

.menu {
  display: flex;
  justify-content: flex-end; }

.btn {
  height: 50px;
  width: 120px;
  margin: 10px;
  color: white;
  background-color: #219329; }
