@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.btn {
  height: 50px;
  width: 120px;
  margin: 10px;
  color: white;
  background-color: #219329;
}
