.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px; }

#sitetitle {
  font-weight: normal;
  line-height: 1.5;
  vertical-align: middle;
  font: 700 22px / normal Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
  font-size: 36px;
  margin-top: 1%; }

.menu {
  display: flex;
  justify-content: flex-end; }

.btn {
  height: 50px;
  width: 120px;
  margin: 10px;
  color: white;
  background-color: #7dc246; }
