.job {
  border: 1px solid gray;
  height: 70px;
  width: 70%;
  align-self: center;
  justify-content: flex-start; }

.title {
  float: left;
  margin: 20px;
  width: 30%; }

.description {
  float: left;
  margin: 20px; }
